
<div class="customFooter">
    <div class="direitos">@Resources.Resources.Copyright</div>
    <div class="versao">Version 1.0.0</div>
</div>

<style>
    .customFooter {
        position: relative;
        height: 50px;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        color: #000000;
        background-color: #ecf0f5;
        clear: both;
        z-index: -9999;
        border-top: 1px solid lightgray;
        margin-left: 0px;
        padding-left: 210px;
        line-height: 50px;
    }

    .direitos {
        display: inline;
        width: 100%;
        margin-left: 30%;
    }

    .versao {
        float: right;
        display: inline;
        margin-right: 30px;
    }
</style>